.turnPlayer {
  text-align: center;
  padding: 35px 0 10px;
  border-width: 0 0px;
  border-style: solid;
  font-size: 22pt;
  font-weight: 600;
  margin: 0;
}

.turnTile {
  text-align: center;
}

.tilesRemaining {
  font-family: 'Gill Sans';
  width: 100%;
  text-align: center;
  padding: 0 0 45px;
  color: #777;
}

.actionBar {
  display: flex;
  border-top: 6px solid #eee;
}
.actionBar button {
  display: block;
  width: 100%;
  border: none;
  padding: 15px 0;
  font-family: 'EmojiSymbols';
  font-size: 20pt;
  font-weight: bold;
}
.actionBar button:disabled {
  color: #eee;
}
.actionBar .confirm {
  font-size: 28pt;
  padding: 12px 0 20px;
  color: #26a65b;
  border-right: 1px solid #eee;
}
.actionBar .undo {
  color: #aaa;
}
